{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class = 'container'>
    {% if messages %}
      {% for message in messages %}
         {% if message.type == 'success' %}
          <script>
             M.toast({html: "{{ message.message }}", classes: 'green rounded', displayLength:2000});
          </script>
         {% endif %}
         {% if message.type == 'warning' %}
          <script>
             M.toast({html: "{{ message.message }}", classes: 'orange rounded', displayLength:6000});
          </script>
         {% endif %}
         {% if message.type == 'error' %}
          <script>
             M.toast({ html: "{{ message.message }}", classes: 'red rounded', displayLength:20000});
          </script>
         {% endif %}
      {% endfor %}
    {% endif %}
</div>
<div name="change_container" id="change_container">
 <div class = row id="location_div" >
    <div class='input-field col s12'>
            <select  id="id_location" name="id_location">
            </select>
        <label for="id_location">Location:</label>
    </div>
 </div>

    <div class = row id="data_center_field" >
        <div class='input-field col s12'>
                <select  id="id_datacenter" name="id_datacenter">
                </select>
            <label for="id_datacenter">DataCenter VPN Terminates In:</label>
        </div>
     </div>
    <div class = row id="firewall_field" >
        <div class='input-field col s12'>
                <select  id="id_firewall" name="id_firewall">
                </select>
            <label for="id_firewall">Firewalls Available :</label>
        </div>
     </div>
    <div class = row id="outside_interface_field" >
        <div class='input-field col s12'>
                <select  id="id_outside_interface" name="id_outside_interface">
                </select>
            <label for="id_firewall">Outside Interfaces available:</label>
        </div>
     </div>
    <div class = row id="inside_tunnel_field" >
        <div class='input-field col s12'>
                <select  id="inside_tunnel_id" name="inside_tunnel_id">
                </select>
            <label for="inside_tunnel_id">Tunnel Interfaces available:</label>
        </div>
    </div>
    <div id = 'button_holder' class="row">
         <input type="submit" value="Next" class="waves-effect waves-light btn-small" ></div>
    </div>
</div>
<script type="text/javascript" >
        $(document).ready(function(){
            $('#data_center_field').hide()
            $('#firewall_field').hide()
            $('#outside_interface_field').hide()
            $('#inside_tunnel_field').hide()
            $.ajax({
                url : "{% url 'AJAXGetLOCATIONSFULLLIST' %}",
                type: "GET",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function(data){
                    $('#id_location').html(data);
                    $('#id_location').formSelect();
                }
            });
        });
        function redirectMe(id){
            window.location.href = "{% url 'CHANGELIST' %}"+id
        };
        $("#id_location").change(function(){
          if ($("#id_location").val() >= 0) {
              $.ajax({
                    url : "{% url 'AJAXGetDATACENTERSFULLLIST' %}",
                    type: "GET",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function(data){
                        $('#data_center_field').show();
                        $('#id_datacenter').html(data);
                        $('#id_datacenter').formSelect();
                    }
                });
              } else {
                console.log('soon')
              }
        });
        $("#id_datacenter").change(function(){
          if ($("#id_datacenter").val() >= 0) {
              $.ajax({
                    url : "{% url 'AJAXGetFirewalls_DC_Specific' %}",
                    type: "GET",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'datacenter_id': $("#id_datacenter").val(),
                    },
                    success: function(data){
                        $('#firewall_field').show();
                        $('#id_firewall').html(data);
                        $('#id_firewall').formSelect();
                    }
                });
              } else {
                console.log('soon')
              }
        });
        $("#id_firewall").change(function(){
          if ($("#id_firewall").val() >= 0) {
              $.ajax({
                    url : "{% url 'AJAXGetOUTSIDEINTERFACE_FW_SPECIFIC' %}",
                    type: "GET",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'firewall_id': $("#id_firewall").val(),
                    },
                    success: function(data){
                        $('#outside_interface_field').show();
                        $('#id_outside_interface').html(data);
                        $('#id_outside_interface').formSelect();
                    }
                });
              } else {
                console.log('soon')
              }
        });
        $("#id_outside_interface").change(function(){
          if ($("#id_outside_interface").val() >= 0) {
              $.ajax({
                    url : "{% url 'AJAXGetTunnelInterfaces_FW_SPECIFIC' %}",
                    type: "GET",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'firewall_id': $("#id_firewall").val(),
                    },
                    success: function(data){
                        $('#inside_tunnel_field').show();
                        $('#inside_tunnel_id').html(data);
                        $('#inside_tunnel_id').formSelect();
                    }
                });
              } else {
                console.log('soon')
              }
        });
</script>



{% endblock %}