{% extends "base_generic.html" %}

{% block content %}
<div class = 'container'>

	<div name="change_option_container">

			<label>
                <input class ="with-gap" name="group1" type="radio" id="change_firewall_rule"
					   hx-get="{% url 'CHANGECreateFirewall' %}"
					   hx-target="#change_container" hx-swap="outerHTML" hx-trigger="click"
					   hx-indicator="#warning_indicator" />
                <span>Firewall Rule Change</span>
            </label>
            <label>
                <input class ="with-gap" name="group1" type="radio" id="vlan_change_button"
					   hx-get="{% url 'CHANGECreateFirewall' %}"
					   hx-target="#change_container" hx-swap="outerHTML" hx-trigger="click"
					   hx-indicator="#warning_indicator">
                <span>Vlan Add Change</span>
            </label>
            <label>
                <input class ="with-gap" name="group1" type="radio" id="Location_change_button"
					   hx-get="{% url 'CHANGECreateLocationVPN' %}"
					   hx-target="#change_container" hx-swap="outerHTML" hx-trigger="click"
					   hx-indicator="#warning_indicator">
                <span>Add/Update Locations</span>
            </label>

    </div>
	<div class ="htmx-indicator" id ="warning_indicator"><span><p class = "grey lighten-1 pulse">
			Some change forms load slowly - the moose outfront told you right?</p></span></div>
	<div name="change_container" id="change_container">

	</div>
</div>



<script type = "text/javascript">
    htmx.onLoad(function(target) {
        $('.django-select2').djangoSelect2();
        });

</script>
{% endblock %}
