{% extends "base_generic.html" %}
{% block content %}
<div class = 'container'>
{% if messages %}
  {% for message in messages %}
     {% if message.type == 'success' %}
      <script>
         M.toast({html: "{{ message.message }}", classes: 'green rounded', displayLength:2000});
      </script>
	 {% endif %}
	 {% if message.type == 'warning' %}
      <script>
         M.toast({html: "{{ message.message }}", classes: 'orange rounded', displayLength:6000});
      </script>
	 {% endif %}
	 {% if message.type == 'error' %}
      <script>
         M.toast({ html: "{{ message.message }}", classes: 'red rounded', displayLength:20000});
      </script>
	 {% endif %}
  {% endfor %}
{% endif %}
    <h1><center>Change Request<br> AKA RUN MY RULES</center></h1>
	{{ form.media.css }}
    <style>
        .select2-container {
			width: 100% !important;
		}
    </style>
    <form method="POST" >
        {% csrf_token %}
		{% load materializecss %}
		<div class = table>
        <table><tr><th style = "width:50%">Change Number</th></tr>
		<tr>
		<td> {{ Change_Number }} </td>
		</table>	
		<table style = 'width:100%'>
		<tr><th style = "width:50%">RITM/Rule Instance</th>
		<tr>
		<td> {{ form.Requests }} </td>
		</table>


        <table><tr><th style = "width:33%">Panorama Username</th><th style = "width:34%"></th><th style = "width:33%">Panorama Password</th></tr>
		<tr>
		<td> {{ form.pano_username }} </td>
		<td> </td>
		<td> {{ form.pano_password }} </td>
		</table>
		
		<br>
        <input type="submit" value="Submit"  class="waves-effect waves-light btn-small">
		</div>
    </form>
	
	{% load static %}


    {{ form.media.js }}
</div>	
{% endblock %}


