{% block content %}
{% load widget_tweaks %}
{% load static %}
<div class = 'container'>
    {% if messages %}
      {% for message in messages %}
         {% if message.type == 'success' %}
          <script>
             M.toast({html: "{{ message.message }}", classes: 'green rounded', displayLength:2000});
          </script>
         {% endif %}
         {% if message.type == 'warning' %}
          <script>
             M.toast({html: "{{ message.message }}", classes: 'orange rounded', displayLength:6000});
          </script>
         {% endif %}
         {% if message.type == 'error' %}
          <script>
             M.toast({ html: "{{ message.message }}", classes: 'red rounded', displayLength:20000});
          </script>
         {% endif %}
      {% endfor %}
    {% endif %}
</div>
<div id="change_container">
            <div id="FirewallRule_Container">

            {{ form.media.css }}
            <style>
                .select2-container {
                    width: 100% !important;
                }
            </style>
            <form method="POST" id="firewall_rule_form" action="">
                {% csrf_token %}
                {% load materializecss %}
                <div class = table>
                <table style = 'width:100%'>
                <tr><th style = "width:50%">RITM/Rule Instance</th>
                <tr>
                <td> {{ form.Requests |attr:"id:firewall_rules" }} </td>
                </table>



                <br>
                <input type="submit" value="Submit" class="waves-effect waves-light btn-small">
                </div>
            </form>
            {{ form.media.js }}
            </div>
</div>
<script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/django_select2.js' %}"></script>

    <script type="text/javascript" >
        function redirectMe(id){
					window.location.href = "{% url 'CHANGELIST' %}"+id
				};

        $('#firewall_rule_form').on('submit', function(event){
				event.preventDefault();
				console.log("form submitted!")  // sanity check
				M.toast({html: "I've posted your request - may take a few to get the result!", classes: 'green rounded', displayLength:2000});
				$.ajax({
					url : "{% url 'CHANGECreate' %}",
					type: "POST",
					header: {'X-CSRFToken': '{{ csrf_token }}'},
					data: {
						'requests_in_change': $('#firewall_rules').select2('val'),
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'request_type' : 'FIREWALL_RULE',

					},
					'dataType': 'json',
					success : function(json) {
				    	    console.log(json.result);
				    	    if (json.result == 'success'){
				    	        $('#view_record_button').show();
				    	        M.toast({html: "I made the change - " + json.change_number + " - \( ﾟヮﾟ)/", classes: 'green rounded', displayLength:2000});
				    	        console.log("success");
				    	        console.log(json.change_number);
				    	        setTimeout(redirectMe(json.change_id), 5000);

				    	    } else {
				    	        M.toast({html: "( ・◇・)？something went wrong with this request. Check the console logs (f12)", classes: 'red rounded', displayLength:6000});
				    	        M.toast({html: "( ・◇・)？Actually "+ json.data, classes: 'red rounded', displayLength:6000});
				    	        console.log(json.data);
				    	        $('#view_record_button').hide();
				    	    }

				    },
					error : function(xhr,errmsg,err) {
						M.toast({html: "SOMETHING WENT HORRIBLY WRONG", classes: 'red rounded', displayLength:6000});
						console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
					}
					});});

    </script>

{% endblock %}


